<%- include('headerBar',{navData}) %>

<div class="wrapper">
  <div class="row">
    <!-- sidebar shows only for login use -->
    <% if (navData.loggedIn === 'win') {%> 
    <div class="sideBar-wrapper col-md-3">
   <%- include('sideBar',{sideBarData}) %>
   <% } %> 
    </div>
    <div class="codeEditor-wrapper <%= navData.loggedIn === true?  'col-md-9':'col' %>">
      <%- include('codeEditor', {editorData}) %>
    </div>
  </div>
</div>


</div> <!-- for the main container closing -->
</body>

</html>