<%- include('headerBar',{navData}) %>

<div class="wrapper mainContent ">
    <!-- sidebar shows only for login use -->
    <% if (navData.loggedIn === 'win') {%>
    <div class="sideBar-wrapper col-md-3">
    </div>
      <%- include('sideBar',{sideBarData}) %>
      <% } %>
      <div class="codeEditor-wrapper <%= navData.loggedIn === true?  'col-12':'col-12' %>">
        <%- include('codeEditor', {editorData}) %>
    </div>
  </div>
</div>


</div> <!-- for the main container closing -->
</body>

</html>