<%- include('headerBar') %> 

<body>
  <textarea name="codeEditor" id="codeEditor" onchange ='saveCode()'><%=data.code%></textarea> 
  <form action="/test" method="POST">
    <textarea name="codeSaver" style="display: none" id="codeSaver"></textarea> 
    <button onclick ='saveCode()' >Save</button>
    <!-- <button type ='submit'>Submit</button> -->
  </form>
  <!-- Init for Code editor -->
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById('codeEditor'), {
        lineNumbers: true,
        theme: 'monokai',
        mode: 'javascript',
        lineWrapping: true,
        styleActiveLine: true,
      });
      function saveCode (e) {
        const data = editor.doc.getValue(); // this gets the data out with the formats
        document.getElementById('codeSaver').value = data;
        console.log('changed');
      }
    </script>
</body>

</html>